* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
	font-family: Poppins;
}

:root {
	--background: white;
	--background-alt: rgb(245, 245, 245);
	--text: rgb(20, 20, 20);
	--text-alt: rgb(240, 240, 240);
	--radius: 25px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--background-alt);
}

#title {
	margin: 40px;
	text-align: center;
	font-size: 60px;
	color: var(--text);
}

#container {
	width: 90%;
	max-width: 1100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap-reverse;
}

#settings {
	width: 300px;
	padding: 20px;
	margin: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: var(--text-alt);
	border-radius: var(--radius);
	background-color: black;
	box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

#settings > * {
	margin: 12px 0;
}

input[type="color"] {
	height: 50px;
	width: 50px;
	border: 1px solid white;
}

.button {
	padding: 8px 18px;
	margin: 8px 0;
	font-size: 16px;
	cursor: pointer;
	color: white;
	border: 1px solid white;
	border-radius: var(--radius);
	background-color: transparent;
	transition: background-color 0.2s ease, color 0.2s ease;
}

.button:hover,
.button.active {
	color: black;
	background-color: white;
}

#grid {
	height: 600px;
	width: 600px;
	margin: 25px;
	display: grid;
	background-color: var(--background);
	box-shadow: 0 12px 20px rgba(0, 0, 0, 0.0625);
}
